.search_result_card{
  max-width: 70%;
  min-width: 70%;
  border: 1px solid red;
  border-radius: 30px;
}

@media (min-width: 768px) and (max-width: 992px) {
  .search_result_card{
    max-width: 90%;
    min-width: 90%;
  }
}

@media (max-width: 768px) {
  .search_result_card{
    max-width: 100%;
    min-width: 100%;
  }
}

.search_overflow{
  overflow: visible;
}

.cover_image_search {
  height: 100%;
  width: 100%;
  object-fit: contain;
  display: flex;
  position: relative;
  max-height: 300px;
  z-index: 1;
}

.search-imgOverlay{
  padding: 0;
  z-index: 2;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear; 
}

.search-imgOverlay:hover {
  padding: 0;
  background: rgba(132, 83, 83, 0.382);
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  cursor: pointer;
}

.search-link{
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.search-link:hover{
  /* text-decoration: none; */
  color: rgba(132, 160, 124);
  

}

/*MDB*/

.search__zoom, img{
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear; 
}

.search__zoom:hover img {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1); }

.search__bg-image {
  position: relative;
  overflow: visible;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  max-width: max-content;
  display: flex;
  justify-content: center;
}