.background-loading {
  height: calc(100vh - 56px);

  /* height: 100vh; */
  background: linear-gradient(0deg, rgb(51, 41, 153) 0%, rgba(17,17,29,1) 71%, rgba(34,42,51,1) 100%); 
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  max-width: 100%;
  z-index: -1;

  /* display: flex;
  flex-direction: column; */
}
