.background-registrazione {
  height: calc(100vh - 56px);
  background: linear-gradient(0deg, rgb(51, 41, 153) 0%, rgba(17,17,29,1) 71%, rgba(34,42,51,1) 100%); 
  position: fixed;
  min-width: 100%;
  max-width: 100%;
  z-index: -1;
  overflow: auto;

  display: flex;
  flex-direction: column;
}

/* .prova {
  overflow-y: auto;
  height: 100%;
} */

.form_width {
  width: 50%;
}

@media (max-width: 992px) {
  .form_width {
    width: 80%;
  }
}
