.background-giochi-detail {
  height: calc(100vh - 56px);
  background: linear-gradient(0deg, rgb(59, 32, 105) 0%, rgba(17,17,29,1) 71%, rgba(34,42,51,1) 100%); 
  overflow: auto;
  position: fixed;
  min-width: 100%;
  max-width: 100%;
  z-index: -1;
  display: flex;
  flex-direction: column;
}


.giochi-detail__poster{
  max-width: 280px;
}

.giochi-detail__descrizione{
  max-width: 900px;
  border: 1px solid red;
  border-radius: 30px;
}


@media (max-width: 576px) {
  .giochi-detail__poster {
   max-width: 200px;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .giochi-detail__poster {
   max-width: 230px;
  }
}

@media (min-width: 768px) {
  .cast-width{
    min-width: 50%;
    max-width: 50%;
    width: 50%;
  }
}


.giochi-detail__circularbar_size{
  width: 120px;
}

.giochi-detail__infoWidth{
  width: 190px;
}