
.review-field__border{
  max-width: 900px;
  border: 1px solid red;
  border-radius: 30px;
}


.review-field__slider{
  min-width: 300px;
  max-width: 500px;
}

.review-field__form{
  width: 80vw;
  max-width: 800px;
}

.review-field__hover-hand:hover{
  cursor: pointer;
}