.background-cinema {
  height: calc(100vh - 56px);
  background: linear-gradient(0deg, rgb(59, 32, 105) 0%, rgba(17,17,29,1) 71%, rgba(34,42,51,1) 100%); 
  overflow: auto;
  position: fixed;
  min-width: 100%;
  max-width: 100%;
  z-index: -1;

  display: flex;
  flex-direction: column;
}

.search_form_width {
  width: 60%;
  max-width: 500px;
}

@media (max-width: 992px) {
  .search_form_width {
    width: 80%;
    transition: width 600ms ease-out, height 600ms ease-out;
  }
}



