.reviews__modal{
  background: rgb(61, 61, 61) ;
}

.reviews__link{
  text-decoration: none;
  color: rgb(98, 224, 182);
}
.reviews__link:hover{
  text-decoration: none;
  color: cornflowerblue
}

.reviews__circularbar_size{
  width: 100px;
}